*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.text-while{
    color: #fff;
}
#header{
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
    line-height: 46.5px;
    position: relative;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 25px;

}
#nav li a{
    text-decoration: none;
}
#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
    padding: 0 12px;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.subnav li {
    min-width: 148px;
    line-height: 38.5px;
}
.subnav li:hover a{
    background-color: #ccc;
}

#nav .subnav a{
    color: #000;
    display: block;
    padding-left: 12px;
}
#nav .nav-down {
    font-size: 14px;
}
.ti-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 12px;
}
#header .search-button,
#header .menu-button {
    float: right;
    padding: 0 21px;
}
#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-but{
    font-size: 20px;
    color: #ccc;
    line-height: 46.5px;

}

#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url("./assets/images/chicago.jpg") no-repeat right top /cover;
}
#slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%) ;
    text-align: center;
}
#slider .text-heading{
    font-size: 25px;
    font-weight: 500;
    
}
#slider p{
    font-size: 18px;
    padding-top: 3%;
    font-weight: 700;
}

.section{
    padding-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    max-width: 95%;
    padding-bottom: 55px;
    margin-bottom: 96px;
}
.section .section-header{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

.section .section-sup-header{
    text-align: center;
    margin: 25px 0;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}
.section .content{
    text-align: justify;
    line-height: 1.4;
}

.section .member-items{
    margin: 47px 0;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.section .member-name{
    font-size: 15px;
    line-height: 1.5;
}
.section .member-avt {
    margin: 15px 0;
    width: 154px;
    border-radius: 5px;
}
.tour-band{
    background-color: #000;
}

.tour-band .tikets-list{
    background-color:#fff;
    margin-top: 5px;
    list-style: none;
}
.tour-band .tikets-list li{
    padding: 11px 14px;
    border-bottom:1px solid #ddd ;
    color: #757575;
}
.tour-band .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 4px 4px;
    margin-left: 20px;
}
.tour-band .qaility{
    color: #fff;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: right;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}
.place{
    margin: 32px -8px;
}
.section .ticket-place{
    padding: 0 8px;
}

.ticket-place img{
    width: 100%;
    display: block;
}
.ticket-place .place-img:hover{
    opacity: 0.6;
}

.ticket-place .place-body{
    background-color: #fff;
    padding:15px 16px;
    font-size: 15px;
    padding-bottom: 32px;

}


.ticket-place .text-name{
    font-weight: 600;
}


.ticket-place .text-time{
    opacity: 0.6;
    margin: 15px 0;
}


.ticket-place .content{
    margin-bottom: 15px;
    line-height: 1.4;
}


.ticket-place .button-tickets{
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.ticket-place .button-tickets:hover{
    background-color: #ccc;
    color: #000;
}
.contact{
    padding-top: 22px;
}
.contact-infor{
    list-style: none;
    margin: 0 auto;
}
.contact-infor .infor-icon{
    padding-right: 8px ;
}

.contact-infor li{
    font-size: 18px;
    line-height: 1.5;
}

.contact-but{
    float: right;
}
.contact-table .input-infor-ne{
    height: 38.5px;
    width: 96%;
    padding: 0 2%;
}

.contact-table .your-message{
    height: 38.5px;
    width: 98%;
    padding: 0 2%;
    margin: 1%;
}

.contact-but{
    background-color: #000;
    text-transform: uppercase;
    margin: 2%;
}
.contact-but:hover a{
    background-color: #ccc;
    color: #000;
}
.contact-but a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 14px;

}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.contaner {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation:modalHihing ease 0.5s ;
}
.modal-header {
    height: 129px;
    width: 100%;
    background-color: #009688;
}
.header-button{
    padding-right: 15px;
}

.modal-header p {
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 129px;
    letter-spacing: 5px;
}
.close-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    opacity: 0.8;
    color: #fff;
}
.close-button:hover{
    background-color: #ccc;
    opacity: 1;
    cursor: pointer;;
}
.modal-body{
    padding: 16px;
    margin-top: -16px;
}
.modal-text{
    display: block;
    font-size: 15px;
    padding-bottom: 12px;
    padding-top: 20px;
}
.modal-input{
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 7px 8px;
    border:1px solid #ccc;
}
.modal-pay{
    background-color: #009688;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;
    margin-top: 20px;
}
.modal-pay:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;

}
.modal-fooder{
    text-align: right;
    margin-right: 16px;
    padding-top: 5px;
    padding-bottom: 25px;
}

.modal-fooder a{
    color: #2196F3;
}
.modal-close-button{
    font-size: 15px;
    background-color: #f44336;
    color: #fff;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 10px;
    opacity: 0.8;
    border: none;
}
.modal-close-button:hover{
    background-color: #ccc;
    opacity: 1;

}
i.modal-back.ti-back-left {
    margin-left: -2px;
}
#map {
    display: inline-block;
    width: 100%;
}
#map img{
    width: 100%;
    /* opacity: .7; */
}
#fooder{
    min-height: 100px;
    background-color: #f1f1f1;
}
.fooder-infor{
    padding: 64px 0;
    text-align: center;
}
#fooder .fooder-fullicon i:hover{
    color: #ccc;
}
#fooder .fooder-fullicon{
    font-size: 24px;
}
#fooder .fooder-cap{
    padding: 15px 0;
}
#fooder .fooder-cap a{
    color: #000;
}

#header .moblie{
    transform: translateX(-100%);
    background-color: #696969;
    display: inline-block;
    width: 120px;
    position: absolute;
    top: 46.5px;
    left: 0;
}

@keyframes modalHihing {
    from {
        transform: translateY(-150px);

    }
    to{
        transform: translateY(0);
    }
}
